body {
	font-family: Calibri, Tahoma, Sans-serif, Arial;
	font-size: 0.75em;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	position: absolute;
}

#body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#toolbar {
	width: 100%;
	border-bottom: 1px solid #dddddd;
	height: 40px;
}

#sync_message {
	padding: 3px;
}

#main {
	width: 100%;
	position: absolute;
	bottom: 20px;
	top: 40px;
}

#statusbar {
	width: 100%;
	height: 20px;
	position: absolute;
	bottom: 0px;
	border-top: 1px solid #dddddd;
}

.left {
	border-right: 1px solid #dddddd;
	position: absolute;
	top: 0px;
	bottom: 0px;
	overflow: auto;
}

#left {
	width: 230px;
}

.right {
	width: auto;
	top: 0px;
	bottom: 0px;
	position: absolute;
	right: 0px;
}

#right {
	left: 230px;
	overflow: auto;
	padding-left: 20px;
	padding-top: 20px;
}

.clear {
	clear: both;
}

#templates_dialog {
}

#left_t {
	width: 150px;
}

#right_t {
	left: 150px;
}

.page_content {
	width: 350px;
	margin: 25px;
	position: absolute;
	background-color: #ffffff;
}

.page_frame {
	border: 1px solid #0000ff;
	position: absolute;
	left: 25px;
	top: 25px;
	bottom: 25px;
	right: 25px;
}

.page {
	display: none;
	font-size: 1.1em;
	margin-right: 20px;
	border: 1px solid #aaaaaa;
	width: 400px;
	height: 570px;
	float: left;
	overflow: auto;
	position: relative;
}

.title0_text {
	font-weight: bold;
	font-size: 1.2em;
}

.title0_editor {
	margin-left: 0.5em;
	border-bottom: 1px solid #222222;
	width: 100%;
	min-width: 50px;
}

.hr {
	height: 14px;
	border: 1px solid #222222;
	background-color: #aaaaaa;
	margin-top: 5px;
	margin-bottom: 8px;
}

.title1_bg {
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #dddddd;
	height: 12px;
	border-top-right-radius: 12px;
}

.title1 {
	background-color: #ffffff;
	position: relative;
	top: -3px;
	padding: 1px;
	padding-left: 5px;
	border: 1px solid #222222;
	float: left;
	width: 50%;
}

.text_editor {
	margin-left: 3px;
	min-height: 15px;
}

.text_editor_title {
	position: absolute;
	right: 1px;
	top: 1px;
	font-size: 0.75em;
	color: #808080;
}

.list_item {
	position: relative;
	background-color: #ffffff;
}

.list_item_handle {
	width: 10px;
	height: 100%;
	background-color: #ffffff;
	display: none;
	position: absolute;
	border: 1px solid #dddddd;
	top: -1px;
	cursor: move;
	z-index: 2;
}

.list_item_handle_left {
	left: -10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-right: 0px;
}

.list_item_drop {
	background-color: #ffdddd !important;
}

.ui-draggable-dragging {
	z-index: 10;
	min-width: 200px;
	opacity: 0.6;
	border: 1px solid #dddddd;
}

.check_editor {
	width: 12px;
	height: 12px;
	margin: 1px;
	position: relative;
	border: 1px solid #dddddd;
	background-color: #ffffff;
	border-bottom: 2px solid #dddddd;
	border-right: 2px solid #dddddd;
	z-index: 2;
	cursor: pointer;
	text-align: center;
}

.check_inset {
	margin-left: 5px;
}

.mark_editor {
	width: 12px;
	height: 12px;
	margin: 1px;
	position: relative;
	border: 1px solid #dddddd;
	background-color: #ffffff;
	cursor: pointer;
}

.mark1 {
	background-color: #ffaaaa;
}

.mark2 {
	background-color: #ddffdd;
}

.date_editor {
	min-height: 15px;
	text-align: center;
	cursor: pointer;
}

.time_editor {
	min-height: 15px;
	text-align: center;
	cursor: pointer;
}

.col_body {
	display: table-row;
}

.col_item {
	position: relative;
}

.col {
	display: table-cell;
	vertical-align: top;
	height: 100%;
}
.ui-datepicker {
	z-index: 5 !important;
}

.form {
	top: 15px;
	left: 15px;
	right: 15px;
	position: absolute;
}

label {
	width: 100%;
	margin-top: 10px;
	display: block;
}

input[type=text], input[type=password], textarea {
	border: 1px solid #dddddd;
	border-radius: 3px;
	width: 100%;
}

textarea {
	height: 400px;
	font-family: monospace !important;
}

.ui-dialog-content {
	padding: 0px !important;
}

ul {
	padding: 1px;
}

li {
	display: block;
	margin: 2px;
	padding: 3px;
	border: 1px solid #dddddd;
	list-style-type: none;	
	background-color: #ffffff;
	cursor: pointer;
}

.ui-selected {
	background-color: #ddddff;
}

.ui-selecting {
	background-color: #eeeeff;
}

.ui-selectable-helper {
	border: 2px solid #0000ff;
	background-color: #ddddff;
	opacity: 0.3;
	z-index: 1010;
	border-radius: 4px;
}

#new_sheet_templates {
	padding: 10px;
}

.new_sheet_template {
	float: left;
	margin: 2px;
	padding: 3px;
	border: 1px solid #dddddd;
	width: 150px;
	cursor: pointer;
}

.simple {
	position: relative;
}

.sheet {
	position: relative;
	padding: 5px;
	border-width: 2px;
	border-radius: 3px;
}

.sheet_archived .title0_text {
	color: #ff0000;
}

#trash {
	cursor: wait;
}

.toolbar_action {
	margin: 5px;
	border: 2px solid #dddddd;
	padding: 5px;
	cursor: pointer;
	border-radius: 4px;
	float: left;
}

.toolbar_drop {
	background-color: #ddddff;
}

.checked {
	font-size: 1em;
}

.page_drop {
	border-color: #ddddff;
}

#calendar .ui-state-active {
	background: inherit !important;
}

.ui-widget {
	font-family: inherit;
}

.page_render {
	opacity: 0.8;
}

.last_sheet {
	border-width: 0px;
}

.ui-timepicker {
	width: 200px;
	position: absolute;
	padding: 10px;
}

.ui-timepicker-slider {
	margin: 5px;
}

.ui-timepicker-caption {
	text-align: center;
	font-weight: bold;
}

.ui-timepicker-buttons {
	text-align: center;
}

#sync_button {
	float: right;
}

#page_slider {
	margin: 10px;
	width: 150px;
	float: right;
	margin-top: 15px;
}


#messages {
	position: absolute;
	margin: 0 auto;
	font-size: 1.2em;
	font-weight: bold;
	top: 0px;
	width: 300px;
	left: 0;
	right: 0;
}

.message {
	padding: 5px;
	margin: 2px;
	text-align: center;
}

.error_message {
	background-color: #aa0000;
	color: #efefef;
}

.page_scroll {
	position: absolute;
	width: 15px;
	height: 100%;
	border-style: dashed;
	border-color: #efefef;
	border-width: 0px;
	cursor: pointer;
	opacity: 0.01;
}

.page_scroll:hover {
	opacity: 1;
}

.page_actions {
	position: absolute;
	width: 100%;
	height: 23px;
	opacity: 0.01;
}

.page_actions:hover {
	opacity: 1;
}

.archive_toggle {
	background-image: url(/img/icon/toggle_archive.png);
}

.page_action {
	width: 16px;
	height: 16px;
	margin-top: 3px;
	margin-left: 20px;
	cursor: pointer;
}

.page_action:hover {
	box-shadow: 1px 1px 1px 1px #888888;
}

.scroll_left {
	left: 0px;
	border-right-width: 2px;
}

.scroll_right {
	right: 0px;
	border-left-width: 2px;
}

.title2 {
	border: 2px solid #222222;
	padding: 2px;
	margin-bottom: 5px;
}

.title2_text {
	font-weight: bold;
}

.title3 {
	height: 100%;
	vertical-align: middle;
}

.title3_text {
	margin-left: 2px;
	font-size: 0.75em;
}

.header {
	margin-top: 4px;
	margin-bottom: 2px;
	border: 1px solid #222222;
	background-color: #777777;
	border-top-right-radius: 10px;
}

.header_col {
	color: #efefef;
	font-weight: bold;
	font-size: 0.9em;
}

.no_area_notes {
	position: absolute;
	right: 10px;
	bottom: 10px;
}

.no_area_note {
	width: 20px;
	min-width: 20px;
	height: 20px;
	cursor: move;
	float: left;
	margin: 5px;
	background-color: #ffffff;
	border: 1px solid #aa0000;
	border-radius: 20px;
}

.no_area_note .ui-draggable-dragging {
	min-width: inherit;
}

.color_select_item {
	float: left;
	width: 68px;
	margin: 2px;
	border: 1px solid #808080;
	cursor: pointer;
}

.page_navigator {
	font-size: 1.1em;
	height: 568px;
	float: left;
	width: 110px;
	overflow: visible;
}

.nav_sheet {
	border: 1px solid #222222;
	border-top-width: 0px;
	border-right-width: 0px;
	width: 3px;
	float: right;
}

.nav_sheet_top {
	border-top-width: 1px;
}

.nav_bmark {
	border: 1px solid #222222;
	float: right;
	padding-left: 3px;
	padding-right: 3px;
	max-width: 100px;
	white-space: nowrap;
	overflow: hidden;
	vertical-align: center;
	cursor: pointer;
}

.nav_page_selected {
	border-left-width: 3px;
}

.color_select_example {
	margin: 10px;
	float: left;
}

.col_g {
	background-color: #efefef;
}

.col_1 {
	border-right: 1px solid #dddddd;
}

.col_2 {
	border-right: 2px solid #dddddd;
}

.border_1 {
	border: 1px solid #dddddd;
	margin-bottom: 2px;
}

.border_2 {
	border: 2px solid #dddddd;
	margin-bottom: 3px;
}

.delimiter_1 {
	border-top: 1px solid #dddddd;
}

.delimiter_2 {
	border-top: 1px dashed #dddddd;
}

.calendar_element {
	width: 100%;
	margin-bottom: 10px;
	position: relative;
}

.ui-datepicker-inline {
	margin: 0pt auto;
}