body {
	font-family: Tahoma, Sans-serif, Arial;
	font-size: 0.75em;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	position: absolute;
}

#body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#toolbar {
	border-bottom: 1px solid #dddddd;
	height: 40px;
}

#main {
	width: 100%;
	position: absolute;
	bottom: 0px;
	top: 40px;
}

.left {
	border-right: 1px solid #dddddd;
	position: absolute;
	top: 0px;
	bottom: 0px;
	overflow: auto;
}

#left {
	width: 200px;
}

.right {
	width: auto;
	top: 0px;
	bottom: 0px;
	position: absolute;
	right: 0px;
}

#right {
	left: 200px;
}

.clear {
	clear: both;
}

#templates_dialog {
}

#left_t {
	width: 150px;
}

#right_t {
	left: 150px;
}

.page_content {
	width: 26em;
	margin: 2em;
	position: absolute;
	background-color: #ffffff;
}

.page {
	margin: 20px;
	border: 1px solid #aaaaaa;
	width: 30em;
	height: 42em;
	float: left;
	overflow: auto;
	position: relative;
}

.title0_text {
	font-weight: bold;
	font-size: 1.2em;
}

.title0_editor {
	margin-left: 3px;
	border-bottom: 1px solid #222222;
	width: 100%;
	min-width: 3em;
}

.hr {
	height: 1.7em;
	border: 1px solid #222222;
	background-color: #aaaaaa;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.title1_bg {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	background-color: #dddddd;
	height: 1em;
}

.title1 {
	background-color: #ffffff;
	position: relative;
	top: -0.3em;
	padding: 1px;
	padding-left: 0.5em;
	border: 1px solid #222222;
	float: left;
	width: 50%;
}

.grid1 {
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
}

.grid_top1 {
	margin-top: 3px;
	border-top: 1px solid #dddddd;
}

.grid_bottom1 {
	border-bottom: 1px solid #dddddd !important;
}

.grid_delimiter1 {
	border-bottom: 1px solid #dddddd;
}

.grid2 {
	border-left: 2px solid #dddddd;
	border-right: 2px solid #dddddd;
}

.grid_top2 {
	margin-top: 3px;
	border-top: 2px solid #dddddd;
}

.grid_bottom2 {
	border-bottom: 2px solid #dddddd !important;
}

.grid_delimiter2 {
	border-bottom: 1px dashed #dddddd;
}

.disabled {
	opacity: 0.5;
}

.text_editor {
	margin-left: 0.3em;
	min-height: 1.5em;
}

.list_item {
	position: relative;
	background-color: #ffffff;
}

.list_item_handle {
	width: 1.5em;
	height: 100%;
	background-color: #ffffff;
	display: none;
	position: absolute;
	border: 1px solid #dddddd;
	top: -1px;
	z-index: 2;
}

.list_item_handle_left {
	left: -1.5em;
	border-top-left-radius: 0.8em;
	border-bottom-left-radius: 0.8em;
	border-right: 0px;
}

.list_item_handle_right {
	right: -1.5em;
	border-top-right-radius: 0.8em;
	border-bottom-right-radius: 0.8em;
	border-left: 0px;
}

.list_item_drop {
	background-color: #ffdddd !important;
}

.ui-draggable-dragging {
	z-index: 10;
	min-width: 200px;
	opacity: 0.6;
	border: 1px solid #dddddd;
}

.check_editor {
	width: 1.3em;
	height: 1.3em;
	margin-left: -0.5em;
	margin-top: 1px;
	position: relative;
	border: 1px solid #dddddd;
	background-color: #ffffff;
	border-bottom: 2px solid #dddddd;
	border-right: 2px solid #dddddd;
	z-index: 3;
}

.mark_editor {
	width: 1em;
	height: 1em;
	margin-left: 0.2em;
	margin-top: 0.2em;
	position: relative;
	border: 1px solid #dddddd;
	background-color: #ffffff;
	z-index: 3;
}

.date_editor {
	width: 100%;
	height: 100%;
}

.col {
	float: left;
	height: auto;
}
.ui-datepicker {
	z-index: 5 !important;
}

.form {
	top: 15px;
	left: 15px;
	right: 15px;
	position: absolute;
}

label {
	width: 100%;
	margin-top: 10px;
	display: block;
}

input[type=text], textarea {
	border: 1px solid #dddddd;
	border-radius: 3px;
	width: 100%;
}

textarea {
	height: 400px;
	font-family: monospace !important;
}

.ui-dialog-content {
	padding: 0px !important;
}

ul {
	padding: 1px;
}

li {
	display: block;
	margin: 2px;
	padding: 3px;
	border: 1px solid #dddddd;
	list-style-type: none;	
	background-color: #ffffff;

}

.ui-selected {
	background-color: #ddddff;
}

.ui-selecting {
	background-color: #eeeeff;
}

.ui-selectable-helper {
	border: 2px solid #0000ff;
	background-color: #ddddff;
	opacity: 0.3;
	z-index: 1010;
	border-radius: 4px;
}

#new_sheet_templates {
	padding: 10px;
}

.new_sheet_template {
	float: left;
	margin: 2px;
	padding: 3px;
	border: 1px solid #dddddd;
	width: 150px;
	cursor: pointer;
}

.sheet {
	position: relative;
	padding: 5px;
	border-width: 2px;
	border-radius: 3px;
}

#trash {
	border: 2px solid #dddddd;
	padding: 5px;
	border-radius: 4px;
}

.trash_drop {
	background-color: #ddddff;
}

.checked {
	background-color: #aaaaaa;
}