body {
	font-family: Calibri, Tahoma, Sans-serif, Arial;
	font-size: 0.75em;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	position: absolute;
}

#body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#toolbar {
	width: 100%;
	border-bottom: 1px solid #dddddd;
	height: 40px;
}

#sync_message {
	padding: 3px;
}

#main {
	width: 100%;
	position: absolute;
	bottom: 20px;
	top: 40px;
}

#statusbar {
	width: 100%;
	height: 20px;
	position: absolute;
	bottom: 0px;
	border-top: 1px solid #dddddd;
}

.left {
	border-right: 1px solid #dddddd;
	position: absolute;
	top: 0px;
	bottom: 0px;
	overflow: auto;
}

#left {
	width: 230px;
}

.right {
	width: auto;
	top: 0px;
	bottom: 0px;
	position: absolute;
	right: 0px;
}

#right {
	left: 230px;
	overflow: auto;
	padding-left: 20px;
	padding-top: 20px;
}

.clear {
	clear: both;
}

#templates_dialog {
}

#left_t {
	width: 150px;
}

#right_t {
	left: 150px;
}

.page_content {
	width: 26em;
	margin: 2em;
	position: absolute;
	background-color: #ffffff;
}

.page {
	display: none;
	font-size: 1.1em;
	margin-right: 20px;
	border: 1px solid #aaaaaa;
	width: 30em;
	height: 45em;
	float: left;
	overflow: auto;
	position: relative;
}

.title0_text {
	font-weight: bold;
	font-size: 1.2em;
}

.title0_editor {
	margin-left: 0.5em;
	border-bottom: 1px solid #222222;
	width: 100%;
	min-width: 5em;
}

.hr {
	height: 1.4em;
	border: 1px solid #222222;
	background-color: #aaaaaa;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.title1_bg {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	background-color: #dddddd;
	height: 1em;
	border-top-right-radius: 1em;
}

.title1 {
	background-color: #ffffff;
	position: relative;
	top: -0.3em;
	padding: 1px;
	padding-left: 0.5em;
	border: 1px solid #222222;
	float: left;
	width: 50%;
}

.grid1 {
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
}

.grid_top1 {
	margin-top: 3px;
	border-top: 1px solid #dddddd;
}

.grid_bottom1 {
	border-bottom: 1px solid #dddddd !important;
}

.grid_delimiter1 {
	border-bottom: 1px solid #dddddd;
}

.grid2 {
	border-left: 2px solid #dddddd;
	border-right: 2px solid #dddddd;
}

.grid_top2 {
	margin-top: 3px;
	border-top: 2px solid #dddddd;
}

.grid_bottom2 {
	border-bottom: 2px solid #dddddd !important;
}

.grid_delimiter2 {
	border-bottom: 1px dashed #dddddd;
}

.disabled {
	opacity: 0.5;
}

.text_editor {
	margin-left: 0.3em;
	min-height: 1.5em;
}

.list_item {
	position: relative;
	background-color: #ffffff;
}

.list_item_handle {
	width: 1.5em;
	height: 100%;
	background-color: #ffffff;
	display: none;
	position: absolute;
	border: 1px solid #dddddd;
	top: -1px;
	cursor: move;
	z-index: 2;
}

.list_item_handle_left {
	left: -1.5em;
	border-top-left-radius: 0.8em;
	border-bottom-left-radius: 0.8em;
	border-right: 0px;
}

.list_item_handle_right {
	right: -1.5em;
	border-top-right-radius: 0.8em;
	border-bottom-right-radius: 0.8em;
	border-left: 0px;
}

.list_item_drop {
	background-color: #ffdddd !important;
}

.ui-draggable-dragging {
	z-index: 10;
	min-width: 200px;
	opacity: 0.6;
	border: 1px solid #dddddd;
}

.check_editor {
	width: 1.1em;
	height: 1.1em;
	margin-left: -0.5em;
	margin-top: 1px;
	position: relative;
	border: 1px solid #dddddd;
	background-color: #ffffff;
	border-bottom: 2px solid #dddddd;
	border-right: 2px solid #dddddd;
	z-index: 2;
	cursor: pointer;
	text-align: center;
}

.check_inset {
	margin-left: 0.5em;
}

.mark_editor {
	width: 1em;
	height: 1em;
	margin-left: 0.2em;
	margin-top: 0.2em;
	position: relative;
	border: 1px solid #dddddd;
	background-color: #ffffff;
	cursor: pointer;
}

.mark1 {
	background-color: #ffaaaa;
}

.mark2 {
	background-color: #ddffdd;
}

.date_editor {
	min-height: 1.5em;
	text-align: center;
	cursor: pointer;
}

.time_editor {
	min-height: 1.5em;
	text-align: center;
	cursor: pointer;
}

.col {
	float: left;
	height: auto;
}
.ui-datepicker {
	z-index: 5 !important;
}

.form {
	top: 15px;
	left: 15px;
	right: 15px;
	position: absolute;
}

label {
	width: 100%;
	margin-top: 10px;
	display: block;
}

input[type=text], input[type=password], textarea {
	border: 1px solid #dddddd;
	border-radius: 3px;
	width: 100%;
}

textarea {
	height: 400px;
	font-family: monospace !important;
}

.ui-dialog-content {
	padding: 0px !important;
}

ul {
	padding: 1px;
}

li {
	display: block;
	margin: 2px;
	padding: 3px;
	border: 1px solid #dddddd;
	list-style-type: none;	
	background-color: #ffffff;
	cursor: pointer;
}

.ui-selected {
	background-color: #ddddff;
}

.ui-selecting {
	background-color: #eeeeff;
}

.ui-selectable-helper {
	border: 2px solid #0000ff;
	background-color: #ddddff;
	opacity: 0.3;
	z-index: 1010;
	border-radius: 4px;
}

#new_sheet_templates {
	padding: 10px;
}

.new_sheet_template {
	float: left;
	margin: 2px;
	padding: 3px;
	border: 1px solid #dddddd;
	width: 150px;
	cursor: pointer;
}

.sheet {
	position: relative;
	padding: 5px;
	border-width: 2px;
	border-radius: 3px;
}

.sheet_archived .title0_text {
	color: #ff0000;
}

#trash {
	cursor: wait;
}

.toolbar_action {
	margin: 5px;
	border: 2px solid #dddddd;
	padding: 5px;
	cursor: pointer;
	border-radius: 4px;
	float: left;
}

.toolbar_drop {
	background-color: #ddddff;
}

.checked {
	font-size: 1em;
}

.page_drop {
	border-color: #ddddff;
}

#calendar .ui-state-active {
	background: inherit !important;
}

.ui-widget {
	font-family: inherit;
}

.page_render {
	opacity: 0.8;
}

.last_sheet {
	border-width: 0px;
}

.bg0 {
	background-color: #ffffff;
}

.bg1 {
	background-color: #efefef;
}

.bg2 {
	background-color: #dddddd;
}

.border1l {
	border-left: 1px solid #dddddd;
}

.border1t {
	border-top: 1px solid #dddddd;
}

.border1r {
	border-right: 1px solid #dddddd;
}

.border1b {
	border-bottom: 1px solid #dddddd;
}

.ui-timepicker {
	width: 200px;
	position: absolute;
	padding: 10px;
}

.ui-timepicker-slider {
	margin: 5px;
}

.ui-timepicker-caption {
	text-align: center;
	font-weight: bold;
}

.ui-timepicker-buttons {
	text-align: center;
}

#sync_button {
	float: right;
}

#page_slider {
	margin: 10px;
	width: 150px;
	float: right;
	margin-top: 15px;
}


#messages {
	position: absolute;
	margin: 0 auto;
	font-size: 1.2em;
	font-weight: bold;
	top: 0px;
	width: 300px;
	left: 0;
	right: 0;
}

.message {
	padding: 5px;
	margin: 2px;
	text-align: center;
}

.error_message {
	background-color: #aa0000;
	color: #efefef;
}

.page_scroll {
	position: absolute;
	width: 1em;
	display: none;
	height: 100%;
	border-style: dashed;
	border-color: #efefef;
	border-width: 0px;
	cursor: pointer;
}

.scroll_left {
	left: 0px;
	border-right-width: 2px;
}

.scroll_right {
	right: 0px;
	border-left-width: 2px;
}

.title2 {
	border: 2px solid #222222;
	padding: 2px;
}

.title2_text {
	font-weight: bold;
}

.title3 {
	height: 100%;
	vertical-align: middle;
}

.title3_text {
	font-size: 0.75em;
}

.header {
	margin-top: 4px;
	margin-bottom: 2px;
	border: 1px solid #222222;
	background-color: #777777;
	border-top-right-radius: 10px;
}

.header_col {
	color: #efefef;
	font-weight: bold;
	font-size: 0.9em;
}

.no_area_notes {
	position: absolute;
	right: 10px;
	bottom: 10px;
}

.no_area_note {
	width: 20px;
	min-width: 20px;
	height: 20px;
	cursor: move;
	float: left;
	margin: 5px;
	background-color: #ffffff;
	border: 1px solid #aa0000;
	border-radius: 20px;
}

.no_area_note .ui-draggable-dragging {
	min-width: inherit;
}

.color_select_item {
	float: left;
	width: 68px;
	margin: 2px;
	border: 1px solid #808080;
	cursor: pointer;
}

.page_navigator {
	font-size: 1.1em;
	height: 45em;
	float: left;
	width: 110px;
	overflow: visible;
}

.nav_sheet {
	border: 1px solid #222222;
	border-top-width: 0px;
	border-right-width: 0px;
	width: 3px;
	float: right;
}

.nav_sheet_top {
	border-top-width: 1px;
}

.nav_bmark {
	border: 1px solid #222222;
	float: right;
	padding-left: 3px;
	padding-right: 3px;
	max-width: 100px;
	white-space: nowrap;
	overflow: hidden;
	vertical-align: center;
	cursor: pointer;
}

.nav_page_selected {
	border-left-width: 3px;
}

.color_select_example {
	margin: 10px;
	float: left;
}