<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.kvj.lima1.sync"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="14" />

    <application
        android:name=".Lima1SyncApp"
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock" >
        <activity
            android:name=".ConnectionsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginForm"
            android:configChanges="orientation|keyboardHidden"
            android:label="Login"
            android:launchMode="singleTop" >
        </activity>

        <service
            android:name=".aidl.SyncServiceProvider"
            android:exported="true" >
            <intent-filter>
                <action android:name="org.kvj.lima1.sync.SyncService" />
            </intent-filter>
        </service>
        <service android:name=".controller.BackgroundSyncService" >
        </service>

        <receiver android:name=".controller.StartupReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
    </application>

</manifest>